* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    z-index: 5;
    background-color: #241f1f9a;
}
main {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 10vw;
    background-color: rgb(24, 162, 216);
}

#titulo {
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
    
}

.valores {
    display: flex;
    width: 100vw;
    height: 5vw;
    justify-content:space-evenly;
    align-items: center;
    background-color: black;
    padding-left: 30px;
}

select {
    width: 220px;
    border-radius: 8px;
    border: 1px solid gray;
    height: 25px;
    font-size: 20px;
}

input {
    height: 30px;
    width: 50px;
    text-align: center;
    border: none;
    background-color: transparent;
    color: aliceblue;
    font-size: 20px;
}

label {
    color: white;
}

.letras {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.btn {
    border-radius: 8px;
    width: 50px;
    height: 50px;
    background-color: black;
    color: aliceblue;
    box-shadow: 2px 2px 3px grey;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid rgb(244, 242, 242);
    padding: 4px;
}

p {
    display: flex;
    font-size: 50px;
    font-style: bold;
    flex-direction: row;
}

.resposta {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}

.reload {
    background-color: rgb(24, 162, 216);
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: aliceblue;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgb(194, 201, 208);
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: aliceblue;
    color: black;
    border: 2px solid black;
    padding: 4px;
}

.btn:active {
    box-shadow: none;
}

.reload:hover {
    background-color: aliceblue;
    color: black;
}

.reload:active {
    box-shadow: none;
}
#fade,#modal{
    transition: 0.5;
    pointer-events: all;
    opacity: 1;
}
#fade{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(66, 64, 64, 0.609);
    z-index: 5;
}
#modal{
    position: fixed;
    position: fixed;
    background-color: #f11818;
    left: 50%;
    top: 50%;
    z-index: 10;
    width: 300px;
    height: 200px;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    color: white;
}
#fade.hide, #modal.hide{
    opacity: 0;
    pointer-events: none;
}
.titulo-2{
    text-align: center;
    padding-top: 30px;
}
.two{
    margin-left: 100px;
    margin-top: 30px;
}